
# Development tools
accelerate>=0.26.0
ipynb
ipython
ipywidgets
# Jupyter environment
jupyterlab

# Data Science & ML
kaggle
loguru

# Visualization
matplotlib

# Documentation
mkdocs
mkdocs-material
mlflow
neuralforecast
notebook
numba
numpy
pandas
pre-commit
pydantic
pytest
pytest-mock
python-dotenv
pytorch-forecasting
pytorch-lightning
ruff>=0.3.0
scikit-learn
seaborn
skchange
sktime[all_extras]
torch
tqdm
transformers

# Utilities
typer
