ipynb
ipython

# Jupyter environment
jupyterlab
loguru

# Visualization
matplotlib
mkdocs
notebook
numba

# Data Science & ML
numpy
pandas
# Development tools
pre-commit
pydantic
pytest
pytest-mock
python-dotenv
pytorch-forecasting
pytorch-lightning
ruff>=0.3.0
scikit-learn
seaborn
skchange
sktime[all_extras]
torch
tqdm

# Utilities
typer
